<h1>Your Order has been submitted!</h1>

<h2>Order Details</h2>
<h3>Order Numer: 105<%=@order.id %></h3>
<h3>Order Placed By: <%= current_user.email %></h3>
<h3>Order Placed: <%= @order.created_at %></h3>

<% @order.carted_products.each do |carted_product| %>
    <h3><%= carted_product.item.name %> - <%= number_to_currency(carted_product.item.price) %> X <%= carted_product.quantity %></h3>
<% end %>


<h3>Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
<h3>Tip: <%= number_to_currency(@order.tip) %></h3>
<h3>Tax: <%= number_to_currency(@order.tax) %></h3>
<h2>________________________</h2>
<h3>Total: <%= number_to_currency(@order.total) %></h3>